/*Estilos para las tablas*/
.Titulo-tablas{
	text-align: center;
	font-family:  Comic sans ms;
	text-shadow: 3px 3px #0090ff;
	color: #ededed;
}
table{
	width: 30%;
	margin: auto;
}
table, td, tr{
	border: 1px solid #006be5;
	border-collapse: collapse;
	text-align: center;
	font-family: Arial;
}
#encabezado{
	text-align: center;
	background: #0077ff;
	color: white;
}
.filaColor{
	padding: 4px;
	background: #ededed;
}

/*estilos para los formularios*/

.Body-Formularios{
font-family: Poor Story, cursive;
background-color: #7c0000;
}

.titulo{
	text-align: center;
}
.contenedor{
	width: 500px;
	height: 400px;
	background: red;
	margin: auto;
	padding-top: 20px;
	background-color: #ffd3d9;
}
.top_formulario{
	width: 100%;
	text-align: center;
	padding: 5px 0 5px;
	border-top: solid 10px #F39B53;
}
.IniciarSesion{
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
 /*Cuadros de textos*/
#usuario, #contraseña{
	background-color: #EFEFEF;
	padding: 5px;
	border: none;
	border-bottom: solid #C8C8C8 3px;
}

#usuario:focus {
	border-bottom: solid #9b0f0f 3px;
}
#contraseña:focus {
	border-bottom: solid #9b0f0f 3px;
}

/*Botones*/
.botones-del-formulario{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

	/*Boton para iniciar sesion*/
#boton-iniciarSesion{
	padding: 8px;
	margin: 8px 0;
	border: none;
	transition: all .5s;
}
#boton-iniciarSesion {
	width: 35%;
	border-bottom: none;
	background-color: #9b0f0f;
	color: white
}
#boton-iniciarSesion:hover {
	background-color: #bc4b4b;
}

	/*Boton de registro*/